/* Update your Navigation.css */

.nav-list {
  list-style: none; 
  padding: 0;
  margin: 0;
}

.nav-list li {
  margin-bottom: 10px; 
  list-style: none; 
}


.nav-list li:first-child button {
  width: auto; 
  height: auto; 
  font-size: 1.5rem; 
  background: none; 
  border: none; 
  padding: 0; 
  color: #000000; 
  cursor: pointer;
}


.nav-list li:last-child button {
  width: auto;
  height: auto;
  font-size: 1rem;
  padding: 8px 16px;
}


.nav-list li ul {
  list-style: none !important;
  padding: 0;
  margin: 0;
}

.nav-list li ul li {
  list-style: none !important;
  margin-bottom: 0;
}


.profile-dropdown {
  list-style: none !important;
}

.profile-dropdown li {
  list-style: none !important;
  margin-bottom: 0;
}